body {
  /* font-weight: 500; */
  font-family:Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x:hidden;

}

html {
  scroll-behavior: smooth;
}

.HeaderText {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;

  line-height: 48px;
  letter-spacing: -1.2px;
  text-align: center;
  vertical-align: middle;
}

.RedColorHeadText{
  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 16px;

line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color:#E2473C;

}

.italicText{
  font-family: Inter;
font-weight: 400;
font-style: Italic;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color:#65758B;

}


.whiteBoxText{

  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 18px;

line-height: 28px;
letter-spacing: -0.45px;
vertical-align: middle;

  
}
.TabCardhead{
  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 24px;

line-height: 32px;
letter-spacing: -0.6px;
vertical-align: middle;
}


.buttonText{
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;

line-height: 20px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}

.CardText{

    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;

line-height: 20px;
letter-spacing: 0%;
color:#65758B;
vertical-align: middle;
  
}

/* ====== */
/* Card text with align */
/* ====== */

.CardTextAlign{
   font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
 word-break: break-word;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;



  
}
.AttendTest{
   font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
 word-break: break-word;
line-height: 20px;
letter-spacing: 0%;
vertical-align: middle;
  display: flex;
gap:5px;

}

.allRedReadingNum{
  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
align-items: center;

}


.scroll{
  background-color: #E2473C;
    position: fixed;
                top: 67px;
                left: 0;
                right: 0;
                height: 6px;
}
@media (max-width:768px) {

  .scroll{
   
    top:60px;
  }
  
}